.root {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #f7f8fb;
}

.sidebarContainer {
  width: 240px;
  min-width: 240px;
  border-right: 1px solid #e1e5ef;
  background: #ffffff;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.content {
  flex: 1;
  padding: 32px;
}


